:root {
    --primary-color: #171614;
    --secondary-color: #3A2618;
    --third-color: #754043;
    --highlight: #37423D;
    --font: #9A8873;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto auto auto 100px;
}

header {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--third-color);
    color: var(--primary-color);
    align-items: center;
}

a {
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    color: var(--primary-color);

}

a:hover {
    color: white;
    text-decoration: underline;
}

.left-header, .right-header {
    display: flex;
    flex: 1;
    align-items: center;
}

.left-header img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    align-self: center;
}

.left-header h1 {
    padding: 10px;
    font-size: 60px;
    font-stretch: wider;
    align-self: center;
}

.right-header nav {
    display: inline-flex;
    flex: auto;
    justify-content: flex-end;
}

main {
    background: var(--highlight);
    color: var(--font);
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'area1 area2 area2'
    'area3 area3 area4'
    'area5 area5 area5'
    'area6 area6 area6';
    align-items: center;

}

main img {
    width: 250px;
    height: 250px;
    grid-area: area1;
    display: grid;
    padding: 5px;
    justify-self: center;
}

.about {
    grid-area: area2;
    font-size: 30px;
    font-style: italic;
    padding: 50px;
    background: var(--secondary-color);
}

.work {
    grid-area: area3;
    font-size: 30px;
    font-style: italic;
    padding: 60px;
    background: var(--secondary-color);
    align-items: center;
}

aside {
    grid-area: area4;
    display:flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

aside img {
    width: 180px;
    height: 180px;
}

.contact {
    background-color: var(--secondary-color);
    grid-area: area5;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
    text-align: center;
    padding: 15px;
}

footer {
    grid-area: area6;
    text-align: center;
    background: var(--third-color);
    color: var(--primary-color);
}
